.d-flex {
  display: flex;
}

.chars-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #24282f;
}

.chars-cards {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.card-catalogue {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
  background: #3c3e44;
  cursor: pointer;
}

.card-catalogue:hover {
  border: 0.25rem solid #fa9805;
}

.card-catalogue img {
  width: 50%;
  height: auto;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer;
}

.info-character-catalogue {
  align-items: flex-start;
  padding-left: 1rem;
  flex-direction: column;
  margin-top: 2rem;
  height: 50vh;
  width: 50%;
}

.white {
  color: #fff;
}

.character-name-cat {
  width: 100%;
  height: 10vh;
  font-size: 1.5625rem;
}

.character-name-cat:hover {
  color: #fa9805;
  cursor: pointer;
}

.status-red {
  width: 1.25rem;
  border-radius: 4rem;
  font-weight: bold;
  background: #af1515;
}

.status-red p{
  margin-left: 1.5625rem;
  font-size: 1rem;
}

.status-green {
  width: 1.25rem;
  border-radius: 4rem;
  background: #15af3b;
  font-weight: bold;
}

.status-green p{
  margin-left: 1.5625rem;
  font-size: 1rem;
}

.status-gray {
  width: 1.25rem;
  border-radius: 4rem;
  font-weight: bold;
  background: rgb(82, 80, 80)
}

.status-gray p{
  margin-left: 1.5625rem;
  font-size: 1rem;
}

.location {
  width: 100%;
  padding-top: 3rem;
  font-size: 1rem;
}

.location:hover {
  color: #fa9805;
}

.search-char-form {
  margin-top: 1rem;
  width: 50%;
}

.search-bar-char {
  width: 70%;
  height: 7vh;
  border-radius: 0.5rem;
  margin-right: 1rem;
  border: 3px solid #1367bb;
}

.search-bar-char::placeholder {
  padding-left: 0.5rem;
}

.search-bar-name {
  width: 15%;
  height: 5vh;
  background: #1367bb;
  color: #fff;
  font-weight: 800;
  border-radius: 0.5rem;
  border: none;
}
