.d-flex {
  display: flex;
}

.prev-next-btns {
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.prev-next-btn {
  width: 5rem;
  height: 5vh;
  margin-right: 2rem;
  background: #fa9805;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 800;
  border: none;
}

.prev-next-btn:hover {
  background:#1367bb;
}
