.d-flex {
  display: flex;
}

.episode-container {
  width: 100%;
  justify-content: space-between;
}

.episode-selector {
  width: 20%;
  padding-left: 1rem;
}

.selector {
  width: 80%;
  margin-right: 1rem;
}

.episode-info {
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

.episode-card-title-content {
  width: 80%;
  margin-right: 2rem;
  padding-bottom: 1rem;
}

.episode-info-title {
  color: #fa9805;
  font-size: 2.1875rem;
  padding-bottom: 0.0625rem;
}

.episode-info-date {
  font-size: 0.875rem;
  color: #1367bb;
  padding-bottom: 0.625rem;
}

.episode-info-number {
  font-size: 0.5rem;
}

.characters-container {
  border: 2px solid red;
}

.chars {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 3rem;
  width: 65%;
  margin: 0 auto;
}
